*{
    box-sizing: content-box;
    margin: 0;
}

header{
    background: url("../img/pattern.png") cornflowerblue;
    background-size: contain;
}

#logo{
    margin: 5% 0% 1% 0%;
    width: 15%;
    height: auto;
}

div.container{
    width: 80%;
    margin: auto;
}

h1{
    margin-top: 2%;
    font-size: 50px;
}

.grey{
    color: grey;
}

em{
    color: blue;
}

.small{
    font-size: small;
}

#highlighter{
    background: yellow;
    color: black;
}

p, li, th, td{
    font-size: 20px;
}

thead{
    background: #20a9e5;
    color: white;
}

table{
    border-spacing: 0;
}

.lorem{
    background: #b1e5f2;
}

td{
    width: 5%;
}

#monitor{
    width: 312px;
    height: 208px;
    background: url(../img/monitor.jpg) no-repeat;
}

#graph{
    width: 311px;
    height: 207px;
    background: url(../img/graph.jpg) no-repeat;
}

.monitor_graph{
    color: white;
    font-size: 25px;

}

